<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NewEgg Test Automation Test Suite">

	<test name="NewEgg Test Cases">
		<classes>
			<class name="com.test.automation.testcases.LoginPageTest"></class>
			<class name="com.test.automation.testcases.HomePageTest"></class>
			
		</classes>
	</test>
</suite>